body{
    font-size: large;
    background-image: linear-gradient( to bottom , rgb(255, 229, 229) , rgb(183 188 187) , black);
    height: 97.8vh;
    
}
header{
    
    display: flex;
    justify-content: center;
}
header img{
    border-radius: 50%;
    padding: 10px;
}
fieldset{
    background-color: #eee;
    width: 600px;
    text-align: center;
}
hr{
    border: solid;
}
.point{
    cursor: pointer;
}
.main_register{
    display: flex;
    justify-content: center;
    align-items: center;
}
input:hover{
    cursor: pointer ;

}
input:focus{
    box-shadow: 0px 0px 16px 3px floralwhite ;   
    outline: none;
    cursor: text ;
}